/* Reseta alguns estilos padrões do navegador */
* {
    margin: 0;
    padding: 0;
    
}





body {
    font-family: 'Google Sans', Arial, sans-serif;
    background-color: #ffffff;
    padding: 20px;
    
}

form {
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(60, 64, 67, 0.3);
    font-weight: 600;
}

h1, h2 {
    background-color: #ffffff;
    color: #2c57b3;
    font-size: 23px;
    font-weight: 800;
    text-align: center;
}

label {
    display: block;
    
    color: #202124;
    font-size: 16px;
    font-weight: 600;
    background-color: #ffffff;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #dadce0;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.2s;
    
    
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
textarea:focus {
    border-color: #4285f4;
    outline: none;
    
}

input[type="checkbox"] {
    margin-right: 1px;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-weight: normal;
    color: #5f6368;
}

button {
    padding: 12px 24px;
    background-color: #ec6608; /* Verde escuro */
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
    font-weight: 600;
    transition: background-color 0.3s;
    border-radius: 10px 10px 10px 10px;
    width: 98%;

}

button:hover {
    background-color: #b95813; 
}

.hidden {
    display: none;
}

#bomba-fitragem-fields {
    display: none;
}


#image-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .image-container {
    position: relative;
    margin: 5px;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  #image-preview img {
    width: 100px;
    height: auto;
    border-radius: 5px;
  }
  
  .remove-image {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
 
  #titulo-imagem {
    text-align: center;
    margin-top: 20px;
}
#titulo-imagem img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    form {
      padding: 15px;
    }
  
    input[type="text"], textarea {
      padding: 8px;
    }
}


/* Esconde todos os passos por padrão */
.step {
    display: none;
}

/* Exibe o passo ativo */
.step.active {
    display: block;
}

/* Adiciona um pouco de espaçamento e estilo */
.nav-buttons {
    margin-top: 20px;
}

.hidden {
    display: none;
}


p {
    color: red;
    font-size: 23px;
    font-weight: 800;
    text-align: center;

  }

  .step {
    display: none;
}




        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        #content {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 20px;
        }
        /* Estilo para a fonte aumentada */
        .pdf-content {
            font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
        }
 



        /* Define a animação para mudar a cor */
 @keyframes changeColor {
    0% {
        color: #b95813; /* Vermelho */
    }
    33% {
        color: #00FF00; /* Verde */
    }
    66% {
        color: #0000FF; /* Azul */
    }
    80% {
        color: #FF0000; /* Voltar ao vermelho */
    }
}

/* Aplica a animação ao texto */
p1 {
    font-size: 2rem;
    font-weight: bold;
    animation: changeColor 30s infinite; /* 30 segundos para uma repetição infinita */
    font-size: 10px;

}

.document-footer {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%); /* Centraliza horizontalmente */
    padding: 1px;
    border-radius: 5px;
    display: none; /* Oculta o rodapé inicialmente */

}
.document-footer.visible {
    display: block; /* Exibe o rodapé quando a classe 'visible' é adicionada */
}